@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
::-webkit-scrollbar{
  width: 0;
}

*{
  font-family: 'Kanit', sans-serif;
  
}
 header {
    margin: -8px -8px 0 -8px;
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
    background-color: red;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    padding: 5px;
    display: block;
    top: 0;
  }
  .navbar-container {
    display: flex;
    justify-content:space-between;
    height: 100%;
    align-items: center;
  }
  .container {
    max-width: 1275px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  
 }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
    
  }
  .home-link{
    font-size: 25px;
  }
  
  .home-link,
  .navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: rgb(255, 255, 255);
  }
  
  .navbar-link {
    font-size: larger;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  .navbar-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2fff00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }
    .navbar-link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  /* .navbar-link:is(:focus, :hover) {
    
    padding:  0.8em;
  } */
  .navbar-logo {
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    font-size: 20px;
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-items: end ;
    flex-direction: column;
    position: absolute;
    right:10px;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: white;
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: rgb(255, 255, 255);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
     top: 65px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(74, 250, 4, 0.4);
    opacity: 1;
    visibility: visible;
    
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  .main{
    margin-top: 80px;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      left: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
    
  }
  @media screen and (max-width:700px) {
    .navbar-link {
       display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.4em 0em;
        border-radius: 5px;
      }
      
      .navbar-link:is(:focus, :hover) {
       
        padding: 0.4em 0em;
      }
      .navbar-item {
        padding: 0;
        border-radius: 5px;
        
      }
      .navbar-links {
        gap: 0;
        background-color: rgb(171, 16, 16);
      }
      
  }



  /* About */

  
.body_contain {
	margin: 5% 8% ;
 
}

.heading {
	width: 100%;
	display: inline-flex;
	padding-bottom: 5px;
	font-family: "Alkatra", cursive;
}
.heading h1 {
	font-size: 36px;
}

.redirect_heading {
	height: 40px;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	background-color: rgb(230, 221, 221);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: red;
}
.redirect_heading p {
	font-size: 20px;
	color: rgb(236, 5, 5);
	margin: 0px -15px;

}
.redirect_heading a{
text-decoration: none;	
color: rgb(236, 5, 5);
margin: -2px 10px;

}

.aboutUS_Text{
	display: grid;
	grid-template-columns: repeat(2, 5fr);
	gap: 20px;
	margin-top: 50px;
	text-align:start;
}
.aboutImg_banner {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	width: 800%;
	height: auto;
}
.image_text {
	margin-top: -5%;
	text-align: justify;
}

@media (max-width: 1000px) {
	.aboutUS_Text {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 760px) {
	.about {
		width: 100%;
		margin: 0;
	}
	.aboutUS_Text {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 600px) {
	.about {
		width: 100%;
		margin: 0;
	}
	.aboutUS_Text {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
  .messageUs_form form{
    margin: 0 5% 0 -5%;
  }
  
}



/* slider */


.imageSlider{
  margin-top: 70px;
  width: 100%;
  /* left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute; */
  

}
.slider{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}
.slider img{
  width: 100%;
  max-width: 2000px;
  object-fit: fill;
  height: 70vh;
 


}
.icon-btn-prev{
  display:block;
  border: none;
  position: absolute;
  top: 44%;
  left: 0;
  height: 70vh;
  width: 200px;
  background: transparent;
  font-size: 40px;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
   

}
.icon-btn-prev:hover{
  color: red;
  cursor: pointer;
}

.icon-btn-next{
display:block;
  border:none;
  position: absolute;
  top: 44%;
  right: 0;
  width: 200px;
  height: 70vh;
  background: transparent;
  font-size: 40px;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
   

}
.icon-btn-next:hover{
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slider img{
     height: 400px;
  
  
  }
  .icon-btn-prev{
      top: 48%;
      left: 0px;
      height: 300px;
      width: 100px;
      
  }
  .icon-btn-next{
      top: 48%;
      position: absolute;
      right: -10px;
      height: 300px;
      width: 100px;
  }
}

/* Footer */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: auto;
  
  
  
 
}

/* .blood_management{
  margin-top: 650px;
 display: block;
 

} */
.indexPage{
  margin:0 8%  ;
}
.blood_management h1, .Blood_donor h1, .why_we_Need_blood h1 {
  display: block;
  color: red;
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
}

.cards{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.card {
  flex: 1 1 20rem;
  /* box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border: 1px solid red;
  border-radius: 10px;
}

.card_title{
  display:inline-block;
  width: 100%;
  text-align: center;
  height: 4em;
  align-content: center;
  background-color: red;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.cardDis{
  margin: 10px ;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
.btn{
  margin:5%;  
}
.btn a{
  text-decoration: none;
  color: white;
  background-color: #ff0000;
  font-size: 1.1rem;
  outline: none;
  padding: .5rem;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.images {
  flex: 1 1 20rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;  position: relative;
  border-radius: 10px;
}
.images img {
  object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	width: 800%;
	height: auto;
}

.image_text_why_we_Need_blood {
	text-align: justify;
  font-size: larger;
  line-height: 28px;
  
}
.messageUsInIndex{
  margin-top: 50px;
  width: 100%;
  background-color: #f7ecec;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}
.messageUSINText p{
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  margin-left: 1em;

  
}


.redirectmessageUs{
  /* padding:10px; */
  margin: auto;
  text-align: center;
  }
  .redirectmessageUs a{
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    padding:10px 20px;
    font-size: larger;
    height: fit-content;
    border: none;
    outline: none;
    border-radius: 5px;
  }


/* message */

.messageSection{
  margin-bottom: 100px;
}
.messageUs_form{
  padding: 1rem;
  height: 70vh;
  
}
.messageUs_form h1{
  font-size: 30px;
  color: red;
}
.company_Details{
  margin-top: 100px;
  margin-left: 10%;
}
.company_Details h1{
  font-size: 25px;
  color: red;
  
}
.company_Details  a{
  text-decoration: none;
  color: red;
}
.company_Details a:hover{
text-decoration: underline;
}

.messageUs {
  max-width: 1200px;
  margin: 70px auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.messageUs_form label {
      display: block;
      margin-bottom: 10px;
      font-size: larger;
}
.messageUs_form form{
    margin: 0 5%;
}
.messageUs_form form input{
display: block;
width: 100%;
height: 30px;
padding: 8px 12px;
font-size: 1.5rem;
line-height: 1.42857143;
color: #333333;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(223, 33, 33, 0.075);
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}


input:valid{
  border-color: rgb(98, 230, 88);
}


.messageSendButton{
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: larger;
  background-color: red;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}


/* ************************************** */
/* donorNeedBlood */
/* ***************************************** */

.container_service {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
  margin-bottom:50px;
  z-index: 1;
 
}

.container_service h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
 
.form-group label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: red;
  margin-bottom: 5px;
}

.form-group  input[type="text"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea,
.form-group input[type="date"],
.form-group input[type="file"],
.form-group input[type="email"],
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}



.form-group-checkbox{
  display: flex;
  align-items: center;
}
.form-group-checkbox input[type="checkbox"] {
  margin:-20px 10px 0 0;

}
.form-group-checkbox label{
  color: #4CAF50;
  font-size: 16px;
  text-align: start;

}

/* input[type="radio"] {
  display: none;
} 

.radio-group label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.radio-group label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.radio-group input[type="radio"]:checked + label::before {
  background-color: #ccc;
}
*/
.form-group button[type="submit"] {
  display: block;
  width: max-content;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .container_service {
    max-width: 100%;
    padding: 10px;
  }
}



/* ********************************************* */
/* admin */
/* ************************************************* */
/*
.dashboard {
  display: flex;
  margin:5% 5% 0 10% ;
}

.sidebar {
  width: 200px;
 
  padding: 20px;
}

.sidebar h1 {
  font-size: 28px;
  text-align: start;
}

.sidebar hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  text-align: start;
}

.sidebar ul a{
display: block;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  background-color:#e6e6e6;
  border-radius: 5px;
  text-align: start;
  text-decoration: none;
  
}

.adminContent {
  flex: 1;
  padding: 20px;
}

.adminContent h1 {
  font-size: 28px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
   border-bottom: 1px solid #ccc;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

table th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 630px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .sidebar ul li {
    text-align: left;
  }

  .adminContent {
    padding: 10px;
    overflow-x: scroll;
  }
} */


#loader{
  position: fixed;
  left: 45%;
  top: 50px;
 
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }
 

 .searchbloodshow{
 margin: 0 8%;
 z-index: -1;
 
 }
 .searchbloodshow h1{
   text-align: center;
   color: red;
   font-size: 2.5rem;
 }  

 .searchinput{
   margin: 20px 25%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;

 }
 .searchinput label{
   font-size: 1.5rem;
   color: red;
 }
 .searchinput input{
   width: 100%;
   height: 40px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   font-size: large;
 }
 
 
/* .container { */
  /* margin: 20px auto; */
  /* max-width: 1800px;
  border-radius: 5px; */
/* } */

.donorshow-table {
  width: 100%;
max-width: 2500px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
}

.donorshow-table th,
.donorshow-table td {
  padding: 10px;
  text-align: center;
border: 1px solid red;
}

.donorshow-table th {
  background-color: #b8b4b4;
  font-weight: bold;
  text-transform: uppercase;
}

/* table tr:nth-child(2) {
  background-color: #442e2e;

} */

.donorshow-table tbody tr:hover {
  background-color: #e0e0e0;

}


/* input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea, se

{
  box-shadow: 0 0 5pt 0.1pt #0043bf;
  border: none;
}
input[type=text]:focus {
  box-shadow: 0 0 5pt 2pt #17ff02;
  outline-width: 0px;
  border: none;
} */