html,
body {
	min-height: 100%;
}
body,
div,
form,
input,
select,
p {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
}
h1 {
	margin: 0;
	font-weight: 400;
}
h3 {
	margin: 12px 0;
	color: #8ebf42;
}
.main-block {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	margin: 0 auto;
	max-width: 60%;
	border: 1px solid black;
}
form {
	width: 100%;
	padding: 20px;
}
fieldset {
	border: none;
	border-top: 1px solid #8ebf42;
}
.account-details,
.personal-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.account-details > div,
.personal-details > div > div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.account-details > div,
.personal-details > div,
input,
label {
	width: 100%;
}
label {
	padding: 0 5px;
	text-align: right;
}
input {
	padding: 5px;
	vertical-align: middle;
}

select,
.Blood_Group,
.gender {
	width: calc(100% + 26px);
	padding: 5px 0;
}
select {
	background: transparent;
}
.gender input {
	width: auto;
}
.gender label {
	padding: 0 5px 0 0;
}

.birthdate input {
	width: 100px;
	vertical-align: unset;
}
.Blood_Group input {
	width: 80px;
	vertical-align: unset;
}

.signUp_btn {
	width: 100%;
	padding: 10px 0;
	margin: 10px auto;
	border-radius: 5px;
	border: none;
	background: #8ebf42;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.signUp_btn:hover {
	background: #82b534;
}
.errormessage {
	position: relative;
	padding: 10px 20px;
	color: #f4f0f0;
	border-radius: 10px;
	font-size: 18px;
	text-align: start;
}
.close_button {
	position: absolute;
	top: 4px;
	border: none;
	border-radius: 5px;
	color: #fcfcfc;
	font-size: large;
	right: 5px;
	font-weight: bold;
}
.close_button:hover {
	background-color: #ff0101;
	color: #fff;
	cursor: pointer;
}
@media (min-width: 568px) {
	.account-details > div,
	.personal-details > div {
		width: 50%;
	}
	label {
		width: 40%;
	}
	input {
		width: 60%;
	}
	select,
	.Blood_Group,
	.gender {
		width: calc(60% + 16px);
	}
}