form{
	margin: 0 30%;
	background-color: #8ebf42;


}
label {
	font-size: 16px;
	width: 100%;
	color: #ff0000;
}



input {
	width: 98.6%;
	height: 30px;
	margin-bottom: 20px;
	border-radius: 5px;
	font-size: 16px;
}
select {
	display: block;
	width: 100%;
	height: 35px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.radio_btn {
	display: initial;
}
.gender {
	align-items: baseline;
	padding: 20px;
}
#male,
#female {
	display: initial;
	width: 20px;
	margin-bottom: -10%;
}

.signUp_btn {
	width: 100%;
	padding: 10px 0;
	margin: 10px auto;
	border-radius: 5px;
	border: none;
	background: #8ebf42;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.signUp_btn:hover {
	background: #e70808;
}
.errormassage {
	position: relative;
	padding: 10px 20px;
	display: none;
	color: #f4f0f0;
	border-radius: 10px;
	font-size: 18px;
	text-align: start;
}
.close_button {
	position: absolute;
	top: 4px;
	border: none;
	border-radius: 5px;
	color: #fcfcfc;
	font-size: large;
	right: 5px;
	font-weight: bold;
}
.close_button:hover {
	background-color: #ff0101;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 600px) {
	
	form{
		display: none;
	}
}
